<Center><h1>Welcome User</h1> </Center>

<%= link_to 'Login', new_user_session_path, class:"btn btn-outline-primary"%>

<%= link_to 'Registration', new_user_registration_path, class:"btn btn-outline-primary" %>
